select, input {
  min-width: 190px;
  margin-bottom: 20px;
}

body {
  background-image: url('/src/images/money-g7e6ff2b91_1920.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width:960px;
}

.border{
  padding: 40px;
  margin-top: 30%;
  border: 5px solid;
  border-radius: 10px;
  border-color: green;
}

.btn {
  position: relative;
  margin-top: -20px;
}

.currencyList {
  background-color: aliceblue;
  opacity: 0.8;
  overflow-y: scroll;
  max-height: 500px;
  margin-top: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
}

.facebook, .instagram {
  padding-bottom: 100px;
  padding-right: 50px;
  background-repeat: no-repeat;
}


.facebook {
  background-image: url('/src/images/5305153_fb_facebook_facebook logo_icon.jpg');
}

.instagram {
  background-image: url('/src/images/104466_instagram_icon.jpg');
}

@media only screen and (min-width: 1000px) {
  .main{
    background-image: url('/src/images/Arrow1.png');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 45px;
    padding-bottom: 20px;
  }
}
.spacing {
  margin-left: 1px;
}

.selectCurrency {
  position: fixed;
  margin-top: 20px;
  max-width: 100px;
}
